* {
    margin:0;
    padding:0;
  }
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-header {
    height: 30%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: -3%;
    overflow: hidden;
}

.split {
    height: 70%;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split-three {
    height: 70%;
    width: 33%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #fbfbfb;
}

.center {
    left: 33%;
    width: 34%;
    background-color: #fbfbfb;
}

.right {
    right: 0;
    background-color: #fbfbfb;
}

.centered, .centered-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
}

.centered-header img {
    width: 100px;
}

.centered-header h1 {
    font-size: 2em;
}

.centered-header h2 {
    font-size: 1em;
}

.college-quiz-bee:hover, .hs-quiz-bee:hover, .high-school-main:hover {
    background-color: #cc0000;
    border: solid 5px #b60009;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 99;
}

.tech-de-con:hover {
    background-color: #07d50b;
    border: solid 5px #009900;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 99;
}

.ckt-sprint:hover, .hs-workshop:hover, .college-main:hover {
    background-color: #0000f6;
    border: solid 5px #000099;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 99;
}

.ckt-sprint, .college-quiz-bee, .tech-de-con, .hs-quiz-bee, .hs-workshop, .high-school-main, .college-main {
    transition: -webkit-clip-path 0.6s linear;
    transition: clip-path 0.6s linear;
    transition: clip-path 0.6s linear, -webkit-clip-path 0.6s linear;
    -webkit-clip-path: polygon(
    calc(0% + 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(100% - 5px), 

    calc(0% + 5px) 
    calc(100% - 5px)
    );
    clip-path: polygon(
    calc(0% + 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(100% - 5px), 

    calc(0% + 5px) 
    calc(100% - 5px)
    );
}

/* .ckt-sprint .img-top, .college-quiz-bee .img-top, .tech-de-con .img-top, .hs-quiz-bee .img-top, .hs-workshop .img-top, .high-school-main .img-top, .college-main .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 99;
}

.ckt-sprint:hover .img-top, .college-quiz-bee:hover .img-top, .tech-de-con:hover .img-top, .hs-quiz-bee:hover .img-top, .hs-workshop:hover .img-top, .high-school-main:hover .img-top, .college-main:hover .img-top {
    display: inline;
} */